
Body{font-family: Arial, Helvetica, sans-serif}

.flex-container1{
    display:flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 300px;
}

nav{
    align-items: right;
    position: absolute;
    right: 0px;
    padding: 20px;
    padding-right: 40px;
}

.flex-container2{
    display:flex;
    height: 257px; 
    color: #1f2937; 
   
    
}

h3 {align-items: center;
    justify-content: center;}

img{width:120px;height:150px;}

.flex-container3{
    display:flex;
    background-color:  #e5e7eb;
    padding: 90px;
    /*height: 214px;*/ 
    
}
    
Blockquote{font-size: 20px; font-style: italic; color: #1f2937;
}



figcaption{text-align: right;}

.flex-container4{
    display:flex;
    /*height: 170px; */ 
   
}

.inner{
    
    background: color #1a3c72;
    padding: 10px;
    margin: auto;
    width: 350px;
    border: 3px solid #73AD21;
    

}


.footer{
    background-color:  #1f2937;
    color: #f9faf8; 
    padding: 20px;
    /*height: 65px;*/ 
    text-align: center; 

    
}